[tool.poetry]
name = "SPIMquant"
version = "0.1.0"
description = "Snakebids app for quantitative analysis of SPIM (lightsheet) brains"
readme = "README.md"
license = "MIT"
authors = [
    "Ali Khan <alik@robarts.ca>"
]
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]

[tool.poetry.dependencies]
python = ">=3.11,<3.12"
snakemake = ">=8.0.0"
snakebids = ">=0.12.0"
pulp = "<2.8.0"
pandas = [
    { version = "<=2.0.3", python = "<3.9" },
    { version = ">=2.1.1", python = ">=3.12" },
]
numpy = "^1.26.4"
dask = "^2024.2.0"
zarr = "^2.17.0"
scipy = "^1.12.0"
scikit-image = "^0.22.0"
dask-image = "^2023.8.1"
ome-zarr = "^0.9.0"
pybids = "^0.16.5"
sparse = "^0.15.1"
zarrnii = "^0.1.1a1"

[tool.poetry.scripts]
spimquant = "spimquant.run:main"


[tool.poetry.group.dev.dependencies]
jupyterlab = "^4.2.1"
matplotlib = "^3.9.0"
seaborn = "^0.13.2"
napari = {extras = ["all"], version = "^0.4.19.post1"}
napari-ome-zarr = "^0.5.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
